@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'din-2014';
  src: url('../fonts/DIN2014-Regular.ttf');
}
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
.allpointer{
  pointer-events: all;
}
.nopointer{
  pointer-events: none;
}
.splitter{
  pointer-events: all;
}
.embed-responsive-item{
  height: 100%;
  width: 100%
}
